.container {
  display: flex; /* 요소들을 가로로 정렬하기 위해 flex 사용 */
}

.box {
  margin-right: 10px; /* 각 box 요소 사이에 오른쪽 여백 추가 */
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}

td {
  background-color: #ffffff;
}

td.unclicked {
  color: black;
}

td.clicked {
  color: red;
}

#todoList {
  margin-top: 20px;
}

#editTodoBtnBar {
  color: gray;
}
#editTodoBtnBar > span {
  margin-right: 15px;
}

.todo-item {
  margin-bottom: 10px;
}

.todo-item .todo_editBtn {
  cursor: pointer;
  font-weight: 500;
  margin-left: 10px;
}

.cat-item > label {
  font-weight: 700;
}
.cat-item > span {
  font-weight: 700;
}

.cat-item .cat_addBtn {
  cursor: pointer;
  color: red;
  margin-left: 10px;
}

/* .todo-item input[type="checkbox"] {
  display: none;
}

.todo-item input[type="checkbox"]+label {
  cursor: pointer;
}

.todo-item input[type="checkbox"]+label:before {
  content: "\2610";
  빈 체크박스
  display: inline-block;
  margin-right: 5px;
} */

/* .todo-item input[type="checkbox"]:checked+label:before {
  content: "\2611";
  //체크된 체크박스
} */
